Numpy-Matplotlib/dados_parlamentares/Ano-2009.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2010.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2011.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2012.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2013.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2014.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2015.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2016.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2017.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2018.csv
Numpy-Matplotlib/dados_parlamentares/Ano-2019.csv
